.slideIn {
    animation: slideIn 0.3s linear forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0.1;
        transform: translateY(-50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}