<div class="w-screen h-screen flex items-start justify-start pt-[70px] overflow-hidden">

  <div class="w-[20%] slideIn max-w-[265px] h-full bg-white pt-5 border-r-2 z-40">
    @for (option of options; track option) {

      <span (click)="changeMain(option.order)" (mouseover)="option.isDDOpen = true" (mouseleave)="option.isDDOpen = false"  [ngClass]="{'text-white': option.isOpen}" class="flex items-center justify-start w-full py-5 pl-7 hover:bg-[#283b9040] cursor-pointer duration-300 relative">
        <p class="flex items-center justify-start font-semibold text-[13px] z-30 w-full">{{option.name}}</p>
        <div *ngIf="option.isOpen" class="grow h-full absolute left-0 top-0 bg-[#283b90] z-20">

        </div>


        <span *ngIf="option.isDDOpen && option.isDropDown" class="flex flex-col z-30 w-[200px] bg-white absolute left-full top-0 h-auto border-2">
          @for (opt of option.ddOptions; track opt) {
            <span class="w-full h-full relative">
              <p [ngClass]="{
                'bg-[#283b90] text-white hover:bg-[#283b90]': option.isOpen && opt.isOpen,
                'text-black':option.isOpen && !opt.isOpen}"
                (click)="changeSubMain(option.order, opt.order)"
                class="flex items-center justify-start font-semibold text-[13px] py-5 pl-7 w-full hover:bg-[#283b9040] cursor-pointer duration-300 ">
                {{opt.name}}
              </p>
            </span>

          }
        </span>
      </span>

    }
  </div>

  <div class="w-full h-full">
    @if(options[0].isOpen && options[0].ddOptions[0].isOpen) {
      <app-stamping-station-a class="w-full h-full"></app-stamping-station-a>
    }

    @if(options[0].isOpen && options[0].ddOptions[1].isOpen) {
      <app-stamping-station-b class="w-full h-full"></app-stamping-station-b>
    }

    @if(options[1].isOpen && options[1].ddOptions[0].isOpen) {
      <app-slot-paper-insertion-auto class="w-full h-full"></app-slot-paper-insertion-auto>
    }

    @if(options[1].isOpen && options[1].ddOptions[1].isOpen) {
      <app-slot-paper-insertion-mannual class="w-full h-full"></app-slot-paper-insertion-mannual>
    }

    @if(options[2].isOpen && options[2].ddOptions[0].isOpen) {
      <app-continuity-test-auto class="w-full h-full"></app-continuity-test-auto>
    }

    @if(options[2].isOpen && options[2].ddOptions[1].isOpen) {
      <app-continuity-test-mannual class="w-full h-full"></app-continuity-test-mannual>
    }

    @if(options[3].isOpen && options[3].ddOptions[0].isOpen) {
      <app-sp-test-auto class="w-full h-full"></app-sp-test-auto>
    }

    @if(options[3].isOpen && options[3].ddOptions[1].isOpen) {
      <app-sp-test-mannual class="w-full h-full"></app-sp-test-mannual>
    }


    @if(options[4].isOpen) {
      <app-varnish-stator-assembly class="w-full h-full"></app-varnish-stator-assembly>
    }

    @if(options[5].isOpen) {
      <app-rotor-shaft-assembly class="w-full h-full"></app-rotor-shaft-assembly>
    }

    @if(options[7].isOpen) {
      <app-pdi-station class="w-full h-full"></app-pdi-station>
    }

    @if(options[6].isOpen) {
      <app-final-assembly-station class="w-full h-full" ></app-final-assembly-station>
    }

    @if(options[8].isOpen && options[8].ddOptions[0].isOpen) {
      <app-fg-station-inward class="w-full h-full"></app-fg-station-inward>
    }

    @if(options[8].isOpen && options[8].ddOptions[1].isOpen) {
      <app-fg-station-outward class="w-full h-full"></app-fg-station-outward>
    }


    <!-- @if(options[5].isOpen) {
      <app-final-assembly class="w-full h-full"></app-final-assembly>
    }  -->


  </div>


</div>
