.grow {
    animation: grow 0.2s linear forwards;
}

.slideIn {
    animation: slide 0.2s linear forwards
}

@keyframes grow {
    100% {
        width: 100%;
    }
}

@keyframes slide {
    0%{
        transform: translateX(-50%);
        opacity: 0.1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}