<div class="flex items-center justify-center w-[180px] h-full">
    <span class="flex items-center justify-center w-[90px] pr-3.5 border-r-2 border-white">
        <p class="flex items-center justify-center text-white font-bold text-[24px]">{{currentTime}}</p>
    </span>

    <span class="flex flex-col items-start justify-center w-[90px] h-full pl-5">
        <p class="flex items-center justify-center text-white font-bold text-[18px]">{{currentDate}}</p>
        <p class="flex items-center justify-center text-white font-bold text-[12px]">{{currentYear}}</p>
    </span>
</div>